@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primaryBg: #f8f7f4;
  --color-primaryText: #1a1a1a;
  --color-darkBg: #0a0a0a;
  --color-darkText: #d4d4d4;
}
@layer base {
  body {
    @apply font-sans bg-primaryBg text-primaryText dark:bg-darkBg dark:text-darkText antialiased;
  }
  p {
    @apply leading-relaxed;
  }
}

/* heading for sections */

.heading-section {
  @apply text-3xl tracking-[0.25em] font-light;
}

/* navbar-- hover links */
@layer components {
  .link-line {
    @apply w-0 mx-auto h-[1.5px] bg-gray-600 dark:bg-gray-300 transition-all duration-300 group-hover:w-1/2;
  }

  a.active .link-line {
    width: 50%;
  }

  .nav-link {
    @apply hover:text-gray-500 dark:hover:text-[#f1e1b9] transition-colors duration-200;
  }

  .social-btns {
    @apply cursor-pointer hover:text-gray-500 dark:hover:text-[#f1e1b9] transition;
  }
}

.input-form {
  @apply w-full border-b border-gray-300 dark:border-gray-600 focus:border-primaryText dark:focus:border-[#f1e1b9] py-3 outline-none placeholder:text-gray-400 dark:placeholder:text-gray-500 bg-transparent;
}
